.recipe-categories-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 2rem;
}

.recipe-category-link {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: #000000;
    background-color: var(--ash-gray);
    border: 1px solid var(--ash-gray);
    border-radius: 25px;
    padding: 0.75rem 2rem;
}

.add-recipe-button-container {
    text-align: center;
}

